/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}
/*Added backface-visisblity, to have pizza in its own layer, but it did not work */
.mover {
  position: fixed;
  //width: 256px;
  z-index: -1;
  /* Added the first 2 transforms to have the mover pizzas in its own layer*/
  /*transform: translateZ(0);
  transform: translate3d(0,0,0); 
  /* This is to reduce the layout time on an updatePosition call -update seem to take more on paint,hence commented 
  transform: translateX();
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Open 
  backface-visibility: hidden; */
}

.randomPizzaContainer {
  float: left;
  display: flex;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

 .container {
  background-color: rgba(240, 60, 60, 0.8);
}
